[submodule "PlanetSwift"]
	path = PlanetSwift
	url = https://github.com/SmallPlanetSwift/PlanetSwift
[submodule "Laba"]
	path = Laba
	url = https://github.com/KittyMac/Laba
[submodule "BlueSocket"]
	path = BlueSocket
	url = https://github.com/SmallPlanetSporks/BlueSocket
