[submodule "Laba"]
	path = Laba
	url = https://github.com/KittyMac/Laba
[submodule "PlanetSwift"]
	path = PlanetSwift
	url = https://github.com/SmallPlanetSwift/PlanetSwift
[submodule "SwiftSocket"]
	path = SwiftSocket
	url = https://github.com/swiftsocket/SwiftSocket.git
